<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= product.name %> - Superstore - GA05</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="referrer" content="always" />
    <meta name="description" content="TailwindCSS Ecommerce Template" />
    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link id="favicon" rel="icon" type="image/png" href="/images/store_icon.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../dist/main.css" />
</head>

<body class="w-full overflow-x-hidden">
    <%- include('layouts/mainLayout', { content: locals.body }) %>
    <div x-data="{ cartOpen: false, isOpen: false }">

        <!-- #region Cart -->
        <div :class="cartOpen ? 'translate-x-0 ease-out' : 'translate-x-full ease-in'"
            class="fixed right-0 top-0 max-w-xs w-full h-full px-6 py-4 transition duration-300 transform overflow-y-auto bg-white border-l-2 border-gray-300"
            x-init="$el.classList.remove('hidden')">
            <div class="flex items-center justify-between">
                <h3 class="text-2xl font-medium text-gray-700">Your cart</h3>
                <button @click="cartOpen = !cartOpen" class="text-gray-600 focus:outline-none">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <hr class="my-3">
            <div class="flex justify-between mt-6">
                <div class="flex">
                    <img class="h-20 w-20 object-cover" src="images/tshirt-front-white-small.png" alt="T-shirt">
                    <div class="mx-3">
                        <h3 class="text-sm text-gray-600">T-Shirt</h3>
                        <div class="flex items-center mt-2">
                            <button class="text-gray-500 focus:outline-none focus:text-gray-600">
                                <i class="fas fa-minus"></i>
                            </button>
                            <span class="text-gray-700 mx-2">2</span>
                            <button class="text-gray-500 focus:outline-none focus:text-gray-600">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <span class="text-gray-600">$24.99</span>
            </div>
            <a
                class="flex cursor-pointer items-center justify-center mt-4 px-3 py-2 bg-green-700 text-white text-sm uppercase font-medium hover:bg-green-500 focus:outline-none focus:bg-green-500">
                <span>Checkout</span>
                <i class="px-2 fas fa-arrow-right"></i>
            </a>
        </div>
        <!-- #endregion Cart -->

        <main class="my-8">
            <!-- #region Product Info -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-3 max-w-screen-xl">
                <div>
                    <img src="<%= product.product_url %>" alt="product's image" class="w-98 h-98 object-contain">
                </div>
                <div class="px-3">
                    <h2 class="text-3xl font-medium uppercase mb-2"><%= product.name %></h2>
                    <div class="flex items-baseline mb-1 space-x-2 font-roboto mt-4">
                        <p class="text-xl text-primary font-semibold">$<%= product.price %></p>
                    </div>
                    <div class="flex items-center mb-4">
                        <div class="flex gap-1 text-sm text-yellow-400">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="space-y-2">
                        <p class="space-x-2">
                            <span class="text-gray-800 font-semibold">Phân loại: </span>
                            <span class="text-gray-600"><%= product.category_name %></span>
                        </p>
                    </div>
                    <div class="mt-4">
                        <h3 class="text-sm text-gray-800 uppercase mb-1">Số lượng</h3>
                        <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300 w-max">
                            <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">-</div>
                            <div class="h-8 w-8 text-base flex items-center justify-center">4</div>
                            <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">+</div>
                        </div>
                    </div>

                    <div class="mt-6 flex gap-3 border-b border-gray-200 pb-5 pt-5">
                        <a href="#"
                            class="bg-[#984B01] opacity-70 border border-gray-500 text-white px-8 py-2 font-medium uppercase flex items-center gap-2 hover:bg-green-500 transition">
                            Thêm vào giỏ hàng
                        </a>
                        <a href="#"
                            class="bg-[#984B01] text-white px-8 py-2 font-medium uppercase flex items-center gap-2 hover:bg-green-500 transition">
                            <i class="fas fa-heart"></i> Đặt ngay
                        </a>
                    </div>
                </div>
            </div>
            <!-- #endregion Product Info -->

            <!-- description -->
            <div class="py-16 text-base px-3 lg:text-lg lg:px-6">
                <h2 class="border-b border-gray-200 font-roboto text-gray-800 pb-2 font-medium">
                    Mô tả:
                </h2>
                <div>
                    <%= product.description %>
                </div>
            </div>
            <!-- ./description -->

            <!-- related product -->
            <div class="pb-16 mx-3 w-full">
                <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6 w-full text-center">Sản phẩm liên quan</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 xl:gap-9 lg:p-5">
                    <% relatedProducts.forEach(product => { %>
                        <div class="bg-white shadow-md flex flex-col h-full">
                            <div class="relative group w-full h-80 flex items-center justify-center">
                                <img src="<%= product.product_url %>" alt="<%= product.name %>" class="w-96 h-96 object-contain">
                                <a href="/category/<%= product.product_id %>" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition">
                                    <span class="text-white">Xem chi tiết</span>
                                </a>
                            </div>
                            <div class="flex-grow pt-4 pb-3 px-4 flex flex-col">
                                <a href="/category/<%= product.product_id %>">
                                    <h4 class="text-wrap uppercase font-medium text-base lg:text-xl mb-2 text-gray-800 hover:text-primary transition">
                                        <%= product.name %>
                                    </h4>
                                </a>
                                <div class="flex items-baseline mb-1 space-x-2">
                                    <p class="text-xl text-primary font-semibold">$<%= product.price %></p>
                                </div>
                            </div>
                            <a href="#"
                                class="block w-full py-3 mt-auto text-center text-white bg-[#984B01] border border-primary hover:bg-gray-300 transition">Xem chi tiết</a>
                        </div>
                    <% }); %>
                </div>
            </div>
            <!-- ./related product -->
        </main>

        <!-- #region Footer -->
        <%- include('layouts/footer') %>
        <!-- #endregion Footer -->
    </div>
</body>

</html>
